@import "carbon-components/scss/globals/scss/styles.scss";
.App-header {
  background-color: #87cefa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.accordion {
  margin-top: 100px;
}

.container {
  padding-top: 5px;
  text-align: center;
  display: block;
}

section {
  font-size: 300;
  color: black;
}
.title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
}

.Questiontitle {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: xx-large;
}

.ansTitle {
  margin-top: 15px;
  margin-bottom: 5px;
  color: black;
}

textarea {
  border: 3px dashed #87cefa;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(135, 206, 250, 1)
  );
}

input {
  border: 3px dashed #87cefa;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 25px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(135, 206, 250, 1)
  );
}

.navbar {
  position: relative;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  background: #1e90ff;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: #1e90ff;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  text-align: right;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

.ModalWrapper {
  bx-modal-footer-button: disabled;
}
